body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color:#333;
    -webkit-font-smoothing: antialiased;
    overflow: scroll;
    font-family: "microsoft yahei", Tahoma, Arial, Helvetica,Sans-serif;
}
.container{
    min-width:1000px;
}
a,a:hover{
    text-decoration: none;
}
a{
    color:#333;
}
#app {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.el-submenu [class^=fa] {
    vertical-align: baseline;
    margin-right: 10px;
}

.el-menu-item [class^=fa] {
    vertical-align: baseline;
    margin-right: 10px;
}

.toolbar {
    background: #f2f2f2;
    padding: 10px;
    margin: 10px 0;  
}
.toolbar .el-form-item {
    margin-bottom: 10px;
}
.router-link-active{
    color:#377ef1;
}
.el-table thead{
    color:#333;
    font-size:14px;
}
.el-table th{
background: #deeafc;
}
.container .main .content-container{
    background: #fff;
}
.el-form {
    margin-bottom: 20px;
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
::-webkit-scrollbar-track-piece{background-color:#fff;-webkit-border-radius:0}
::-webkit-scrollbar{width:10px;height:10px}
::-webkit-scrollbar-thumb{height:50px;background-color:#b8b8b8;-webkit-border-radius:6px;outline:2px solid #fff;
outline-offset:-2px;border:2px solid #fff;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5}
::-webkit-scrollbar-thumb:hover{height:50px;background-color:#878987;-webkit-border-radius:6px}